/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import './variables';
@import './mixins';

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    background-color: #efefef;
}
.row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.mat-card .mat-divider{
    position: relative !important;
}
table {
    width: 100%;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
}
table, th, td {
    border: none;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    border-bottom: 1px solid rgba(0,0,0,0.12);
    display: table-row;
}
td, th {
    padding: 15px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
}
th {
    font-weight: bold;
    text-align: -internal-center;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}