<mat-toolbar>
  <a mat-button routerLink="/">
    <h3>Safra</h3>
  </a>
  
  <span class="example-spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">

    <!-- Plano de Custo -->
    <button mat-menu-item routerLink="/planoDeCusto">
      <div class="row between-xs middle-xs">
        <span class="item-menu">Plano de Custo</span>
        <mat-icon>assignment</mat-icon>
      </div>
    </button>

    <mat-divider></mat-divider>

    <!-- Logout -->
    <button mat-menu-item (click)="logout()">
      <div class="row between-xs middle-xs">
        <span class="item-menu">Sair</span>
        <mat-icon>exit_to_app</mat-icon>
      </div>
    </button>

  </mat-menu>
</mat-toolbar>