mat-card {
    text-align: left;
}
table {
    font-size: 12px;
}


td {
    padding: 5px 5px;
    border-radius: 0px;
}
.headerItem1{
    background-color: #ffffc9;
    font-weight: bold;
}
.headerItem2{
    background-color: #ffffda;
}
.headerItem3{
}
.nivel1{
    padding-left: 10px;
}
.nivel2{
    padding-left: 60px;
}
.nivel3{
    padding-left: 110px;
}
.arrow-right.icon {
    border-color: rgba(0,0,0,0.12);
    position: absolute;
    margin-left: -40px;
    margin-top: 5px;
    width: 20px;
    height: 8px;
    background-color: #fff;
    border-bottom: solid 1px rgba(0, 0, 0, 0.4);
    border-left: solid 1px rgba(0,0,0,0.4);
    border-radius: 1px; 
}

.arrow-right.icon:before {
    content: '';
    position: absolute;
    right: 1px;
    top: 3px;
    width: 10px;
    height: 10px;
    border-top: solid 1px rgba(0,0,0,0.4);
    border-right: solid 1px rgba(0,0,0,0.4);
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}