mat-card {
    text-align: left;
}
table {
    font-size: 12px;
}


td {
    padding: 5px 5px;
    border-radius: 0px;
}
.headerItem1{
    background-color: #ffffc9;
    font-weight: bold;
}
.headerItem2{
    background-color: #ffffda;
}
.headerItem3{
}
.nivel1{
    padding-left: 10px;
}
.nivel2{
    padding-left: 60px;
}
.nivel3{
    padding-left: 110px;
}